# An access token for your Grafana
# You can create one in the Grafana UI under Administration -> Service Accounts.
# Make sure to enable the right permissions for the token.
export GRAFANA_TOKEN=
# The URL of your Grafana instance
# If you're using grafana cloud, this is: https://<your-username>.grafana.net
export GRAFANA_URL=
# The name of the Grafana job where the queries should be run against
export GRAFANA_JOB=

# either 'dev' or 'prod'
# This affects starting in fullscreen or not
export ENVIRONMENT=

# IP or hostname of your main node
export MAIN_IP=
# IP or hostname of your backup node
export BACKUP_IP=
# Your validator address
export VALIDATOR_ADDRESS=
# Amount of time to wait before changing the screen
export SCREEN_TIMEOUT=
